/* UI Object */
@import url("../css/menu.css");
@import url("../css/common.css");
@import url("../css/popup.css");
@import url("../css/sub.css");

/* main Layout */
#main_con{width:1000px; position:relative;margin:0 auto;clear:both;display:block;height:auto !important;min-height:740px;}
.visual{float:left; height:132px;clear:both;_margin-bottom:30px; padding-top:10px;}

/* Left Area */
.lnb{float:left; width:200px; height:auto !important; height:100%; min-height:100%;background:url(../images/leftmenu_bg2.gif) repeat-y;}
.left_bottom{*padding-bottom:10px; float:left;_padding:0;}
	/* User ID */
	.left_id{text-align:center; width:200px; background:url(../images/leftmenu_bg3.gif) no-repeat;padding:5px 0;}
	.left_id .text{font-size:13px; font-weight:bold; color:#666; margin:5px 0 0 0; text-align:center;}
 	 
	/* ����Ʈ�޴� */
	.left_title{float:left; width:200px; background:url(../images/left_top.gif) no-repeat; height:55px;font-size:16px;font-weight:bold;color:#02527D;padding:10px 0 0 0;}
	.lnb ul{float:left; margin:0; padding:0;display:inline-block;}
	.lnb ul li.menu01{float:left; padding-left:18px; background:url(../images/bullet_1dept.gif) no-repeat 10px 10px; width:150px;font-size:12px; padding-top:5px; padding-bottom:5px;}
	.lnb ul li.menu01 a:link, a:visited, a:active {font-weight:bold; color:#444;}
	.lnb ul li.menu01 a:hover {font-weight:bold; color: #6986a4; text-decoration:none;}
	.lnb ul li.menu02 {float:left; margin-bottom:2px; background:url(../images/bullet_2dept.gif) no-repeat 22px 10px; padding-left:25px; padding-top:5px;font-size:11px;width:150px;}
	.lnb ul li.menu02 a:link, a:visited, a:active {font-weight:bold; color:#2b709c;}
	.lnb ul li.menu02 a:hover {font-weight:bold; color: #6986a4; text-decoration:none; background-color:#ddd;}
	.lnb ul li.menu03{float:left; margin-bottom:2px; padding:2px 0 0 35px; background:url(../images/bullet_3dept.gif) no-repeat 30px 8px; padding-bottom:5px;font-size:11px;width:150px;}
	.lnb ul li.menu03 a:link, a:visited, a:active {font-weight:bold; color:#777;}
	.lnb ul li.menu03 a:hover {font-weight:bold; color: #6986a4; text-decoration:none;}
	.lnb ul.a2{float:left; margin:0; padding:0;}
	.lnb ul li.a2{float:left; margin:0; padding:0; clear:both;}

	/*��ʿ���*/
	.banner{width:200px; padding:10px 0; background-color:#fff; _margin:0; display:inline-block;}
	.btn_num {position:absolute;width:200px;height:20px;z-index:1;left: 7px;top: 391px; padding-top:3px;}	
	.btn_num ul li{display:inline; padding-right:2px; clear:both;}
	.btn_num ul li a{}
	
	/*��Ÿ ��ũ����(11.05 ��d)*/
	.link{width:200px; background:url(../images/link_topbg.gif) no-repeat;padding-bottom:10px; display:inline-block;}
	.link ul li{display:inline-block; font-size:12px; padding:10px 0 5px 0; _margin-left:5px; margin-left:10px; font-size:12px; font-weight:bold; color:#5f5f5f;}
	.link ul li.icon01{float:left; padding-left:18px; background:url(../images/mainicon_01.gif) no-repeat 0px 10px; width:160px; padding-left:20px; border-bottom:1px dotted #1696df; font-size:14px; font-weight:bold; color:#1696df;}
	.link ul li.icon02{float:left; padding-left:18px; background:url(../images/mainicon_02.gif) no-repeat 0px 10px; width:160px; padding-left:20px;}
	a.icon02:link, a.icon02:visited, a.icon02:active{font-size:12px; font-weight:bold; color:#5f5f5f;}
	a.icon02:hover{font-size:12px; font-weight:bold; color:#222;}	
	.link ul li.icon03{float:left; padding-left:18px; background:url(../images/mainicon_03.gif) no-repeat 0px 10px; width:160px; padding-left:20px;}
	a.icon03:link, a.icon03:visited, a.icon03:active{font-size:12px; font-weight:bold; color:#5f5f5f;}
	a.icon03:hover{font-size:12px; font-weight:bold; color:#222;}	
	.link ul li.icon04{float:left; padding-left:18px; background:url(../images/mainicon_04.gif) no-repeat 0px 10px; width:160px; padding-left:20px;}
	a.icon04:link, a.icon04:visited, a.icon04:active{font-size:12px; font-weight:bold; color:#5f5f5f;}
	a.icon04:hover{font-size:12px; font-weight:bold; color:#222;}	
	.left_bottom{margin:0; float:left;}

/* ������� */
.right{float:left; width:785px; background-color:#fff; padding-left:15px; _padding-left:10px; position:relative; display:inline-block;}

/* �������1 */
.notice{width:775px; padding:0 0 10px 10px; display:inline-block;clear:both; margin-bottom:10px; height:220px;}
/* �������2 */
.notice2{width:775px; padding:0 0 10px 10px; display:inline-block;clear:both;margin-top:10px; height:150px;}

	/* �ǸŴ� */
	.tab_list{width:775px;height:230px;}
	.tab_list ul{position:relative;margin:0;padding:0;border-bottom:1px solid #ccc;font-family:Tahoma, Sans-serif;font-size:12px;list-style:none;*zoom:1;width:775px;}
	.tab_list ul:after{display:block;clear:both;content:""}
	.tab_list li{float:left;margin-bottom:-1px;}
	.tab_list li a{float:left;position:relative;border:1px solid #b6b6b6;border-bottom-color:#ccc;background:#fafafa;color:#666; text-decoration:none; background:url(../images/tab_bullet2.gif) no-repeat 10px 12px;}
	.tab_list li a span{display:inline-block;padding:6px 25px 6px 25px;letter-spacing:-1px;cursor:pointer}
	.tab_list li ul{display:none;position:absolute;top:40px;left:0;width:775px;margin:0;padding:0;border:0;list-style:none;*zoom:1}
	.tab_list li ul:after{display:block;clear:both;content:""}
	.tab_list li li{float:none;position:relative;margin:0 0 8px 0;color:#999; background:#fff; padding-left:20px; background:url(../images/bullet_main.gif) no-repeat 10px 5px;}
	.tab_list li li a{float:none; margin:0; border:0 !important; background:#fff; font-weight:normal; color:#666 !important; letter-spacing:normal;padding:5px 0;}
	.tab_list li li a:hover,
	.tab_list li li a:active,
	.tab_list li li a:focus{color:#389dc3 !important;text-decoration:none; background:#e7f3f8;}
	.tab_list li li.more{position:absolute;top:-35px;right:0;border:0 !important;background:#fff;}
	.tab_list.m1 .m1 a.tab,
	.tab_list.m2 .m2 a.tab,
	.tab_list.m3 .m3 a.tab,
	.tab_list.m4 .m4 a.tab,
	.tab_list.m5 .m5 a.tab,
	.tab_list.m6 .m6 a.tab,
	.tab_list.m7 .m7 a.tab,
	.tab_list.m8 .m8 a.tab,
	.tab_list.m9 .m9 a.tab,
	.tab_list.m10 .m10 a.tab,
	.tab_list.m11 .m11 a.tab,
	.tab_list.m12 .m12 a.tab{margin-top:-1px;border:1px solid #ccc;border-bottom:1px solid #fff;background:#389dc3;color:#fff;}
	.tab_list.m1 .m1 a span,
	.tab_list.m2 .m2 a span,
	.tab_list.m3 .m3 a span,
	.tab_list.m4 .m4 a span,
	.tab_list.m5 .m5 a span,
	.tab_list.m6 .m6 a span,
	.tab_list.m7 .m7 a span,
	.tab_list.m8 .m8 a span,
	.tab_list.m9 .m9 a span,
	.tab_list.m10 .m10 a span,
	.tab_list.m11 .m11 a span,
	.tab_list.m12 .m12 a span{padding-top:7px;font-weight:bold; background:url(../images/tab_bullet.gif) no-repeat 10px 12px;}
	.tab_list.m1 .m1 ul,
	.tab_list.m2 .m2 ul,
	.tab_list.m3 .m3 ul,
	.tab_list.m4 .m4 ul,
	.tab_list.m5 .m5 ul,
	.tab_list.m6 .m6 ul,
	.tab_list.m7 .m7 ul,
	.tab_list.m8 .m8 ul,
	.tab_list.m9 .m9 ul,
	.tab_list.m10 .m10 ul,
	.tab_list.m11 .m11 ul,
	.tab_list.m12 .m12 ul{display:inline-block}
	.tab_list.js_off{height:auto}
	.tab_list.js_off ul{border:0}
	.tab_list.js_off li{float:none;position:relative}
	.tab_list.js_off li a{display:block;float:none;border:1px solid #eee !important;border-bottom-color:#ccc !important;background:#fafafa !important;font-weight:bold;color:#333}
	.tab_list.js_off li ul{position:static;display:block;left:0;top:0;padding:5px 0}
	.tab_list.js_off li li a{display:inline;border:0 !important;background:none !important;font-weight:normal}
	.tab_list.js_off li li.more{top:7px;right:15px}
	span.tablist{right:0; float:right; clear:both;}



